@page "/logout"

<PageTitle>Log out |Chillify</PageTitle>

<h1>Logout</h1>
<p>We are sad to see you leave. Are you sure you want to log out ?</p>

<button class="btn btn-primary" title="Home">Return to Home</button>
<button class="btn btn-outline-primary" title="Logout">Log out</button>
@code {

}