@page "/users"

<PageTitle>Users |Chillify</PageTitle>


<h1>Users</h1>
<p>You can find here the users management page.</p>

<AuthorizeView Policy="manager+">

    <NotAuthorized>
        <p>Sorry, but you are not authorized to see this content.</p>
    </NotAuthorized>

    <Authorized>
        <UserList />
    </Authorized>

</AuthorizeView>